        wheel
        torch==1.9.0+cu111
        torchvision==0.10.0+cu111
        pandas
        numpy
        sklearn
        matplotlib
        tqdm
        webvtt-py
        transformers
        h5py
        kaldi-io==0.9.4
        scipy
        
